<p id="notice" class = "row d-flex justify-content-center h4"><%= notice %></p>

<p>
  <h1 class = "h1 text-center mb-2">Title:</h1>
  <p class = "h3 text-center mb-4"><%= @genre.name %></p>
</p>

<p>
  <h1 class = "h1 text-center mb-2">Icon:</h1>
  <p class = "h3 text-center mb-4"><%= image_tag("#{@genre.icon}.png") %></p>
</p>

<p>
  <h1 class = "h1 text-center mb-2">Created At:</h1>
  <p class = "h3 text-center mb-4"><%= @genre.created_at %></p>
</p>

<p>
  <h1 class = "h1 text-center">Games</h1>
</p>

<table class = "table table-hover">
  <tr>
    <th scope="col" class = "text-center h4">Title</th>
    <th scope="col" class = "text-center h4">Cost</th>
    <th scope="col" class = "text-center h4">Author</th>
  </tr>
  <tbody>
    <%= genre_games_list(@genre.games.all)%>
  </tbody>
</table>



<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Destroy', genre_path(@genre), method: :delete, data: { confirm: 'Are you sure?' }, class: "main-text" if @genre.user_id == current_user.id %></strong>
</p>
<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Back', genres_path, class: "main-text" %></strong>
</p>