<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :developer %>
    <%= form.text_field :developer %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>


  <%= select_tag :genre, options_from_collection_for_select(current_user.genres, :id, :name), {multiple: true} %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
