<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Developer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.developer %></td>
        <td><%= link_to 'Show', user_games_path(game) %></td>
        <td><%= link_to 'Destroy', user_games_path(game), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_current_user_game_path %>
