<p id="notice"><%= notice %></p>

<h1 class = "h1">Games</h1>

<table class = "table">
  <thead>
    <tr>
      <th class = "main-text col">Title</th>
      <th class = "main-text col">Cost</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.games.each do |game| %>
      <tr>
        <td class = "main-text"><%= game.name %></td>
        <td class = "main-text"><%= game.amount %></td>
        <td class = "main-text"><%= link_to 'Show', user_game_path(current_user, game.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_user_game_path(current_user) %>
