<p id="notice" class = "row d-flex justify-content-center h4"><%= notice %></p>

<h1 class = "h1 text-center my-5">Games</h1>

<h1 class = "h1 text-center mt-5 border-bottom">Total Cost:</h1>

<h1 class = "h3 text-center mb-5"><%= @total %></h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th class = "main-text text-center">Title</th>
      <th class = "main-text text-center">Date</th>
      <th class = "main-text px-3 text-center">Cost</th>
      <th class = "main-text text-center">Icon</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class = "main-text text-center"><%= game.name %></td>
        <td class = "main-text text-center creation-date"><%= game.created_at %></td>
        <td class = "main-text text-center"><%= game.amount %></td>
        <td class = "align-middle main-text"><%= image_tag("#{game.genres.first.icon}.png", size: "50x50") unless game.genres.empty? %></td>
        <td class = "text-center"><%= link_to 'Show', user_game_path(current_user, game.id), class: "main-text" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'New Game', new_user_game_path(current_user), class: "p-1 main-text"%></strong>
</p>

