<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Genres</strong>
</p>
<table>
<caption>Genres</caption>
  <tbody>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <br>
    <% @game.genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= genre.description %></td>
        </tr>
        <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
