<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Genres</strong>
</p>
<table>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
  <tbody>
    <% @game.genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= genre.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', user_game_path(current_user, @game) %> |
<%= link_to 'Back', user_games_path %>
