<p id="notice"><%= notice %></p>

<p>
  <h1 class = "h1 text-center">Title:</h1>
  <p class = "h3 text-center"><%= @game.name %></p>
</p>

<p>
  <h1 class = "h1 text-center">Cost:</h1>
  <p class = "h3 text-center"><%= @game.amount %></p>
</p>

<p>
  <h1 class = "h1 text-center">Genres</h1>
</p>
<table class = "table table-hover">
  <tr>
    <th scope="col" class = "text-center h4">Name</th>
    <th scope="col" class = "text-center h4">Icon</th>
  </tr>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td class = "text-center main-text"><%= genre.name %></td>
      <td><%= genre.icon %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Destroy', user_game_path(current_user, @game), method: :delete, data: { confirm: 'Are you sure?' }, class: "main-text" %>
<%= link_to 'Back', user_games_path %>
