<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>

<tbody>
  <% @genre.games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.developer %></td>
      </tr>
</tbody>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
